{% extends 'proj-parts.html' %}
{% load static %}

{% block content_edit %}
<hr class= "my-3">
<p><h6>Edytujesz pomieszczenie: <i>{{room.r_number}}/{{room.r_name}}</i></h6></p> 

<p class = "fs-6"> </p>
<div class="row">
  <div class="col-12 col-lg-6 col-xxl-6 d-flex">
      <div class="card flex-fill">
          <div class="card-header">
              <h5 class="card-title" id="przypisuj">Przypisuj</h5>
              <h6 class="card-subtitle text-muted">Dodawanie przegród do pomieszczeń</h6>
          </div>
          <div class="card-body">
            <div class="mb-3">
                <div class="position-relative">
          <form method = "post">
            <div class="col-lg-6 col-xxl-6">
            <label for="selectSymbol" class="form-label">Symbol ściany:</label>
            <select name = "symbol" class="form-select form-select-sm" aria-label=".form-select example-sm" id="selectSymbol">
                <option selected>Wybierz symbol ściany</option>
                {% for wall in walls %}
                <option value="{{ wall.pk }}">{{wall}}</option>
                {% endfor %}
              </select> 

            {% csrf_token %}
            {{ form_wall.as_p }}

            <p></p>
            <button name="przypisz_sciane" type="submit" class="btn btn-primary" value="{{ ed_sciany }}">Przypisz ścianę</button>
          </form>

        </div>
          </div>
        </div>
            </div>
    </div>
    </div>

          <div class="col-lg-6 col-xxl-6">
              <div class="card flex-fill" >
                <div class="card-header">
                    <h5 class="card-title">Przeglądaj</h5>
                    <h6 class="card-subtitle text-muted">Dostępne przegrody do wyboru</h6>
                </div>
                <div class="card-body bg-secondary-subtle">
      
      <!-- Tabela do zestawienia przegród -->
      <a class="btn btn-secondary" href="#przypisuj">Przejdź do pomieszczeń</a>
      <p class = "fs-5"> </p>
      <div class="table-responsive">
      <table class="table table-sm table-striped" style ="text-align:center">
      <thead>
      <tr>
      <th scope="col" style="vertical-align: top">Symbol</th>
      <th scope="col" style="vertical-align: top">Nazwa</th>
      <th scope="col" style="vertical-align: top">Opis</th>
      <th scope="col" style="vertical-align: top">Klasa</th>
      <th scope="col" style="vertical-align: top">Wsp. U <br> [W/m2*K]</th>
      </tr>
      </thead>
      {% for wall in walls %}
      <tbody>
      <tr>
        <th scope="row">{{ wall.wall_symbol }}</th>
        <td>{{ wall.wall_name }}</td>
        <td>{{ wall.wall_description }}</td>
        <td>Klasa {{ wall.klasa }}</td>
        <td>{{ wall.wall_U }}</td>
      </tr>
      {% endfor %}
      </tbody>
      </table>
      </div>
                </div>
            </div>


    </div>

          <div class="card-body">
              <div class="mb-3">
                  <div class="position-relative">
                    <div class="table-responsive">
                      <table class="table table-sm table-striped" style ="background-color: white; text-align:center">
                      <thead>
                      <tr>
                      <th scope="col" style="vertical-align: top">Nr pom.</th>
                      <th scope="col" style="vertical-align: top">Nazwa pom.</th>
                      <th></th>
                      <th scope="col" style="vertical-align: top" colspan="3">Lista przypianych ścian do pomieszczenia<p></p></th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <th scope="row">{{ room.r_number }}</th>
                        <td>{{ room.r_name }}</td>
                        <td><a class="btn btn-primary btn-sm" title="Kliknij żeby wrócić do wszystki pomieszczeń" value="{{room.pk}}" href="/projekty/{{ proj.pk }}/zyski/parts">Powróć do <br> pomieszczeń</a> </td>
                        <td colspan="3" > 
                        <table class="table table-sm" style ="background-color: white; text-align:center">
                          <thead>
                            <th scope="col" style="vertical-align: top"></th>
                            <th scope="col" style="vertical-align: top">Symbol ściany</th>
                            <th scope="col" style="vertical-align: top">Kierunek świata ściany</th>
                            <th scope="col" style="vertical-align: top">Pow. ściany <br>[m<sup>2</sup>]</th>
                          </thead>
                          {% if ed_sciany %}
                          <form method = "post">
                            {% csrf_token %}
                          <tr>
                            <td> <button name="up_sciany" class="btn btn-sm btn-primary" value="{{ ed_sciany }}">Zapisz</button> </td>
                            <td> {{ up_wallroom.wall }} </td>
                            <td> {{form1.kierunek}}   </td>
                            <td> {{form1.wall_area}}  </td>
                            </tr>
                            </form>
                            <form method = "post">
                              {% csrf_token %}
                            <button name="del_sciany" class="btn btn-sm btn-danger" value="{{ ed_sciany }}">Usuń ścianę z pomieszczenia</button>
                          </form>
                          {% else %}
                          <form method = "post">
                            {% csrf_token %}
                          {% for oneWall in wall_per_room %}
                          {% for symbol in walls %}
                          {% if oneWall.wall.pk == symbol.pk %}
                          <tr>
                            <td><button name="edycja_sciany" class="btn btn-sm btn-outline-secondary" value="{{ oneWall.pk }}" >Edytuj</button> </td>
                          <td> {{symbol}} </td>
                          <td> {{oneWall.kierunek }}  </td>
                          <td> {{oneWall.wall_area }} </td>
                          </tr>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                        </form>
                        {% endif %}                      
                        </table>
                        </td>
                      </tr>
                      </tbody>
                    </div>
                    </div>
                    </div>
                    </div>

{% endblock %}

